p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

h1 {
    font-size: 60px;
    margin: 0 auto;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    text-align: center;
}


html {
    background-color: #00539f;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
}